<a href="https://colab.research.google.com/github/dparedes616/Spark/blob/main/ETL_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proceso de ETL con PySpark**

# **Instalar Pyspark**

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=f6fb153aa3d6f74053d2e2f7376e7d4f8e3abd83017f924fbbda78f0788a8760
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

# **Crear Sesion de Spark**

# Importaciones

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from os import truncate
from pyspark.sql.functions import lit

# Configuraccion Spark Session

In [ ]:
SpSession = SparkSession \
            .builder \
            .appName("Demo Spark") \
            .getOrCreate()

In [ ]:
sSpContex = SpSession.sparkContext

# **Carga de Data**

In [ ]:
from posixpath import sep
data = SpSession.read.csv("cars.csv", header=True, sep=";")

In [ ]:
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

Conociendo la Data

In [ ]:
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

Selección de Columnas

In [ ]:
data.select(data.Car).show(10, truncate=False)

+-------------------------+
|Car                      |
+-------------------------+
|STRING                   |
|Chevrolet Chevelle Malibu|
|Buick Skylark 320        |
|Plymouth Satellite       |
|AMC Rebel SST            |
|Ford Torino              |
|Ford Galaxie 500         |
|Chevrolet Impala         |
|Plymouth Fury iii        |
|Pontiac Catalina         |
+-------------------------+
only showing top 10 rows

In [ ]:
data.select(data.Car, data.Cylinders).show(10, truncate=False)

+-------------------------+---------+
|Car                      |Cylinders|
+-------------------------+---------+
|STRING                   |INT      |
|Chevrolet Chevelle Malibu|8        |
|Buick Skylark 320        |8        |
|Plymouth Satellite       |8        |
|AMC Rebel SST            |8        |
|Ford Torino              |8        |
|Ford Galaxie 500         |8        |
|Chevrolet Impala         |8        |
|Plymouth Fury iii        |8        |
|Pontiac Catalina         |8        |
+-------------------------+---------+
only showing top 10 rows

# **Agregar Columnas**

In [ ]:
df = data.withColumn("First_Column",lit(1))
df.show(5, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |1           |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [ ]:
df = data.withColumn("Second_Column",lit(2)) \
          .withColumn("third_column",lit("TRIRD"))
df.show(5, truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|third_column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |TRIRD       |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |TRIRD       |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |TRIRD       |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |2            |TRIRD       |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |TRIRD       |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

# **Agrupación de Columnas**

In [ ]:
df.groupBy("Origin").count().show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
|   CAT|    1|
| Japan|   79|
+------+-----+

In [ ]:
df.groupBy("Origin", "Model").count().show()

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
|    US|   78|   22|
|Europe|   76|    8|
|    US|   70|   27|
| Japan|   75|    4|
|Europe|   80|    9|
| Japan|   77|    6|
|Europe|   72|    5|
|    US|   75|   20|
|    US|   79|   23|
|    US|   82|   20|
|   CAT|  INT|    1|
|Europe|   75|    6|
| Japan|   78|    8|
|    US|   71|   20|
| Japan|   82|    9|
+------+-----+-----+
only showing top 20 rows

# **Elimnar Columnas**

In [ ]:
df= df.drop("third_column", "Second_Column")
df.show(5,truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

# **Ordenar Filas**

In [ ]:
df.orderBy("Cylinders", ascending=False).show(5,truncate=False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
df.groupBy("Origin").count().orderBy("count", ascending=False).show(5,truncate=False)

+------+-----+
|Origin|count|
+------+-----+
|US    |254  |
|Japan |79   |
|Europe|73   |
|CAT   |1    |
+------+-----+

In [ ]:
df

DataFrame[Car: string, MPG: string, Cylinders: string, Displacement: string, Horsepower: string, Weight: string, Acceleration: string, Model: string, Origin: string]

# **Filtro de Datos**

In [ ]:
Total_resgistros = df.count()
print("El total de registristros del df es de", Total_resgistros)
europa = df.filter(df.Origin=="Europe").count()
print("Total de registros en europa es de",europa)

El total de registristros del df es de 407
Total de registros en europa es de 73

In [ ]:
europa = df.filter(df.Origin=="Europe").show(truncate=False)

+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.00       |46.00     |1835. |20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.00     |2430. |14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234. |12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.00       |54.00     |2254. |23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933. |14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.00     |2511. |18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.00     |2979. |19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.00       |69.00     |2189. |18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.00       |46.00     |1950. |21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.00       |90.00     |2265. |15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.00       |49.00     |1867. |19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.00     |2158. |15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [ ]:
Total_resgistros = df.count()
print("El total de registristros del df es de", Total_resgistros)
usa = df.filter((df.Origin=="US")&(df.Horsepower==130)).count()
print("Total de registros en estados con caballos de fuerza igual a 130 es de",usa)

El total de registristros del df es de 407
Total de registros en estados con caballos de fuerza igual a 130 es de 5

In [ ]:
usa = df.filter((df.Origin=="US")&(df.Horsepower==130)).show(truncate=False)

+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Chevrolet Chevelle Concours (sw)|13.0|8        |307.0       |130.0     |4098. |14.0        |72   |US    |
|Ford F108                       |13.0|8        |302.0       |130.0     |3870. |15.0        |76   |US    |
|Mercury Cougar Brougham         |15.0|8        |302.0       |130.0     |4295. |14.9        |77   |US    |
|Chevrolet Caprice Classic       |17.0|8        |305.0       |130.0     |3840. |15.4        |79   |US    |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+